#top_bar {
    left: 0;
    width: 100%;
    background-color: bisque
}

#left_bar {
    position: absolute;
    left: 5px;
    width: 20%;
    background-color: aquamarine
}

#pdf_container {
    position: fixed;
    left: 20%;
    width: 60%;
    background-color: cornflowerblue
}

#right_bar {
    position: fixed;
    left: 80%;
    width: 20%;
    background-color: lightsteelblue
}

#paper_title {
    width: 80%;
    height: 80px;
    box-sizing: border-box;
    resize: none;
}

#paper_doi {
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    resize: none;
}

#paper_keywords {
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    resize: none;
}

#paper_comments {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    line-height: 1.5;
    padding: 15px 15px 30px;
    border-radius: 3px;
    border: 1px solid #F7E98D;
    font: 13px Tahoma, cursive;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#F9EFAF, #F7E98D);
    background: -o-linear-gradient(#F9EFAF, #F7E98D);
    background: -ms-linear-gradient(#F9EFAF, #F7E98D);
    background: -moz-linear-gradient(#F9EFAF, #F7E98D);
    background: -webkit-linear-gradient(#F9EFAF, #F7E98D)
}